# build artifacts
/zig-cache/
/zig-out/
.zig-cache/
/release/
/debug/
/build/

# bnaries and executables
*.exe
*.o
*.a
*.so
*.dylib

# editor/IDE-specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
.ropeproject
